<footer class="footer {% if include.is_dense == true %}footer--dense{% endif %}">
  <div class="footer__content">
    <div class="footer__logos">
      {% for logo in site.footer.logos %}
      {% if logo.url %}<a href="{{ logo.url }}" target="_blank">{% endif %}
        <img src="{{ logo.image | absolute_url }}">
      {% if logo.url %}</a>{% endif %}
      {% endfor %}
    </div>
    <ul class="footer__links">
      {% for link in site.footer.links %}
      <li><a class="footer__link" href="{{ link.url | absolute_url }}" target="_blank">{{ link.title }}</a></li>
      {% endfor %}
      <li class="footer__link-container footer__link-container--right">
        <span class="footer__made-with-desktop">&copy; {{ site.time | date: '%Y' }} {{ site.copyright }}. All rights reserved.</span>
        <span class="footer__made-with-mobile">&copy; {{ site.time | date: '%Y' }} {{ site.copyright }}</span>
      </li>
    </ul>
  </div>
</footer>
