<nav class="toolbar-nav">
  <ul class="toolbar-nav__links">
    {% for entry in site.toolbar %}
    {% assign node = site.pages | where: 'path', entry | first %}
    <li>
      <a href="{{ node.url | absolute_url }}" class="toolbar-nav-link {% if node.url == page.url %}toolbar-nav-link--active{% endif %}">
        <span class="toolbar-nav-link__text">{% if node.menu %}{{ node.menu }}{% else %}{{ node.title }}{% endif %}</span>
      </a>
    </li>
    {% endfor %}
    {% if site.repo_url %}
    <li>
      <a href="{{ site.repo_url }}" class="toolbar-nav-link toolbar-nav-link--github" target="_blank">
        <span class="toolbar-nav-link__text">View on GitHub</span>
        <img class="toolbar-nav-link__icon" src="images/github_logo.svg">
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
